services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      ENV: development
    volumes:
      - ./src:/app/src
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
